<div class="input-container {{#if vertical}}input-container_vertical {{/if}}{{#if
        horizontal}}input-container_horizontal {{/if}}" id="{{{id}}}">
    {{#if label}}
        <span class="input-container__label">{{label}}</span>
    {{/if}}
    <div class="input-icon-container">
        <input type="{{{inputType}}}" id="{{{inputId}}}"
               class="input-component {{#if primaryType}}input-component_primary {{/if}}{{#if
                       error}}input-component_error {{/if}}" value="{{value}}">
        {{#if icon}}
            <button class="input-icon-button" id="{{buttonId}}"><img src="{{icon}}" alt="icon"></button>
        {{/if}}
    </div>
    {{#if error}}
        <span class="input-container__error">{{error}}</span>
    {{/if}}
</div>
