<div class="input-container flex justify-content-center flex-column gap-4 w-full">
    {{#if label}}
        <span class="text-align-center input-container__label">{{label}}</span>
    {{/if}}
    <div class="input-icon-container">
        <input type="{{{type}}}" id={{{id}}} class="input-component {{#if error}}input-component_error{{/if}} {{{styles}}}" value="{{value}}">
        {{#if icon}}
            <button class="input-icon-button" id={{buttonId}}><img src={{icon}} alt="icon"></button>
        {{/if}}
    </div>
    {{#if error}}
        <span class="text-align-center input-container-text__error">{{error}}</span>
    {{/if}}
</div>
