<div class="{{{styles}}} input-container" id="{{{id}}}">
    {{#if label}}
        <span class="input-container__label">{{label}}</span>
    {{/if}}
    <div class="input-container__input-field input-field">
        <input type="{{{type}}}"
               id={{{inputId}}}
            {{#if placeholder}}
               placeholder="{{placeholder}}"
            {{/if}}
               class="input-field__input {{#if error}}input-field__input_error{{/if}}"
               autocomplete="on"
               value="{{value}}">
        {{#if icon}}
            <button class="input-field__button" id={{buttonId}}><img src={{icon}} alt="icon"></button>
        {{/if}}
    </div>
    {{#if error}}
        <span class="input-container__error">{{error}}</span>
    {{/if}}
</div>
