<div class="user__message">
    <div class="message__header">
        <button id="message__button">
            <img src="./static/images/MsgLight.png" class="messageBlock__MsgDark-png">
            <div class="messageBlock__upper-buttons_button-text">Message</div> 
        </button>
        <button id="match__button">
            <img src="./static/images/CardsDark.png" class="messageBlock__cardsDark-png" alt="location">
            <div class="messageBlock__upper-buttons_button-text">Match</div>
        </button>
    </div>
    <div class="message__body">
        <div class="body__message-layout">
            <div class="message-layout__header">
                <img src="{{userImg}}" alt="user icon" class="user-icon">
                <div class="header__info">
                    <p class="user-info">{{name}} {{surname}}, {{age}}</p>
                    <p class="user-visit__info">{{userVisit}}</p>
                </div>
            </div>
            <div class="message-layout__body"></div>
        </div>
        <div class="body__message-input">
            <input type="text" required class="message-input">
            <button id="send-message__button"><img src="./static/images/sendMessageIcon.png" alt="send message icon"></button>
        </div>
    </div>
</div>