<div class="button" id="{{id}}">
    {{#if href}}
        {{#unless enabled}}
        <a href="{{{href}}}" class="button button-href__no-underlying">
        {{/unless}}
    {{/if}}
    <button class="button {{#if isActive}}button_active {{#if active}}{{#if
            activeRedType}}button_active-red {{/if}}{{#if activeBlueType}}button_active-blue {{/if}}{{/if}}{{else}}{{#if
            primaryType}}button_primary {{/if}}{{#if
            submitType}}button_submit {{/if}}{{/if}}"
            type="submit" id="{{buttonId}}">
        {{#if active}}
            {{#if iconActive}}
                <img alt="icon" class="button-icon" src="{{{iconActive}}}">
            {{else if icon}}
                <img alt="icon" class="button-icon" src="{{{icon}}}">
            {{/if}}
        {{else}}
            {{#if icon}}
                <img alt="icon" class="button-icon" src="{{{icon}}}">
            {{/if}}
        {{/if}}
        {{buttonText}}
    </button>
    {{#if href}}
    </a>
    {{/if}}
</div>
