<div class="feed-photo-container" id="{{{id}}}">
    {{#if ready}}
        {{{renderedComponents}}}
        <div class="feed-photo-overlay">
            <div class="feed-photo-current-container">
                {{#if allPhotos}}
                    <div class="feed-photo-current-handler">
                        {{{renderedCurrent}}}
                    </div>
                {{/if}}
            </div>
            {{#if allPhotos}}
                <div class="feed-photo-move-container">
                    {{{renderedMoves}}}
                </div>
            {{/if}}
            <div class="feed-photo-actions-container">
                {{{renderedActions}}}
            </div>
        </div>
    {{else}}
        <div class="image-loader">
            <div class="lds-ring">
                <div class="lds-ring_div lds-ring_div__first"></div>
                <div class="lds-ring_div lds-ring_div__second"></div>
                <div class="lds-ring_div lds-ring_div__third"></div>
                <div class="lds-ring_div"></div>
            </div>
        </div>
    {{/if}}
</div>
