<form id="{{{id}}}" class="login-form">
    {{{renderedComponents}}}
    <div class="login-form_offer-container">
        {{{renderedOffer}}}
    </div>
</form>

<!--<form id="{{{id}}}" class="auth-page__form auth-form {{{styles}}}">-->
<!--    {{{renderedComponents}}}-->
<!--</form>-->

