- let source = "../../src/images/";
- let avatar = source + "avatar.png";
- let location = source + "location.png";
- let settings = source + "settings.png";
- let imgSrc = [source + "google.svg", source + "vk.svg", source + "facebook.svg", source + "twitter.svg"];
- let navIcons = [source + "favorite.png", source + "like.png", source + "dislike.png"];
- let interests = ["Music", "Reading a books", "Watching films", "Walking with friends"];

mixin userInfo(fullName, age, city)
    p(class="fullname")= fullName + age
    .info__city
        img(src=`${location}`) 
        p= city

mixin createSocialImages(imgSrc) 
    each iSrc in imgSrc
        a(href="#") 
            img(src= iSrc)

mixin createNavIcons(navIcons)
    each iNav in  navIcons 
        a(href="#")
            img(src=iNav class="navIcons")

mixin createBlock(buffer)
    each iBlock in buffer 
        .block 
            p= iBlock

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./app.css")
        title OnlySocial
    body 
        .content 
            .content__profile
                .profile__user
                    .user__avatar 
                        img(src=avatar class="avatar__img")
                    .user__info__block
                        .user__info
                            +userInfo("David Jones, " ,23, "New York")
                        .user__settings
                            .settings
                                img(src=`${settings}`)
                                a(href="#") Edit profile
                .profile__navigation
                    .navigation__buttons 
                        button(type="submit" class="buttons__message") Message 
                        button(type="submit" class="buttons__matches") Matches 
                    .navigation__field 
                        p No message yet 
                .profile__share
                    p Share with friends
                    .share__icons 
                        +createSocialImages(imgSrc)
            .content__feed
                .feed__people
                    .people__photo
                        img(src=`${source}userPhoto.png`) 
                        .navigation__icons
                            +createNavIcons(navIcons)
                .feed__info 
                    .info__name
                        +userInfo("Sandra May, ", 23, "New York")
                    .info__description
                        p.title About me 
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum lorem vel nibh porttitor, in fermentum nisi egestas.
                    .info__interests
                        p.title Interests 
                        +createBlock(interests)
                    .info__horoscope
                        p.horoscopeTitle Horoscope compatibility
                        .horoscope__description 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum lorem vel nibh porttitor, in fermentum nisi egestas. 