<div class="messageBlock">
    <div class="messageBlock__upper-buttons">
        <button id='message-button'>
            <img src="./static/images/MsgLight.png" class="messageBlock__MsgDark-png">
                <div class="messageBlock__upper-buttons_button-text">Message</div> 
        </button>
        <button id='match-button'>
            <img src="./static/images/CardsDark.png" class="messageBlock__cardsDark-png" alt="location">
                <div class="messageBlock__upper-buttons_button-text">Match</div>
        </button>
    </div>
    <div class="messageBlock__messages">
        {{!-- Add messages --}}
        <button class="messageBlock__messages-message">
            <img src="{{imgsrc}}" alt="">
            <div class="messageBlock__messages-message__text-block">
                <p class="messageBlock__messages-message__username">{{username}}</p>
                <p class="messageBlock__messages-message__text">{{message}}</p>
            </div>
            <div class="messageBlock__messages-message__counter">
                {{messageCount}}
            </div>
        </button>
        
        <button class="messageBlock__messages-message">
            <img src="{{imgsrc}}" alt="">
            <div class="messageBlock__messages-message__text-block">
                <p class="messageBlock__messages-message__username">{{username}}</p>
                <p class="messageBlock__messages-message__text">{{message}}</p>
            </div>
            <div class="messageBlock__messages-message__counter">
                {{messageCount}}
            </div>
        </button>

        <button class="messageBlock__messages-message">
            <img src="{{imgsrc}}" alt="">
            <div class="messageBlock__messages-message__text-block">
                <p class="messageBlock__messages-message__username">{{username}}</p>
                <p class="messageBlock__messages-message__text">{{message}}</p>
            </div>
            <div class="messageBlock__messages-message__counter">
                {{messageCount}}
            </div>
        </button>

        <button class="messageBlock__messages-message">
            <img src="{{imgsrc}}" alt="">
            <div class="messageBlock__messages-message__text-block">
                <p class="messageBlock__messages-message__username">{{username}}</p>
                <p class="messageBlock__messages-message__text">{{message}}</p>
            </div>
            <div class="messageBlock__messages-message__counter">
                {{messageCount}}
            </div>
        </button>
    </div>
</div>