<div class="info">
    <div class="info-header">
        <p class="header-text"><span>{{name}} {{surname}}</span>, <span>{{age}}</span></p>
        <p class="text-container"><img src="./static/images/location.png" alt="location" class="header-icon" width="27"><span class="location-text">{{location}}</span></p>
    </div>
    <div class="info-description">
        <p>{{infoAboutUser}}</p>
    </div>
    <div class="info-interests">
        <p class="interests-title">Интересы</p>
        <div class="interests-items">
            {{#each interests}}
                <span class="item">{{this}}</span>
            {{/each}}
        </div>
    </div>
    <div class="info-horoscope">
        <p class="horoscope-title">Совместимость по гороскопу</p>
        <div class="horoscope-description">
            <img src="../static/images/horoscope1.png" alt="horoscope" width="80" class="horoscope-img">
            <p class="horoscope-description-text">{{horoscope}}</p>
        </div>
    </div>
</div>