<button class="message-container" id={{messageId}}>
    <div class="icon-info-container">
        <img src="{{userIcon}}" alt="user icon" class="icon">
        <div class="message-text">
            <p class="message-username">{{userName}}</p>
            <p class="message-text-content">{{userMessage}}</p>
        </div>
    </div>
    <div class="message-counter">
        {{messageCount}}
    </div>
</button>